<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KeywordDrivenSuite">
  <test thread-count="5" name="KeywordDrivenTest">
    <classes>
      <class name="com.qa.testcases.LoginTest"/>
      <class name="com.qa.testcases.CreateNewAccountTest"/>
    </classes>
  </test> <!-- KeywordDrivenTest -->
</suite> <!-- KeywordDrivenSuite -->
